{%extends 'base.html'%}

{% block title%}
Редактирование статьи
{%endblock%}

{%block body%}
<h1> Измените данные в статье </h1>

<style>
    input[type=text],
    textarea {
        width: 50%;
        padding: 12px;
        margin-top: 15px;
        box-sizing: border-box;
        border: 4px solid #AB958F;
        border-radius: 10px;

    }

    input[type=text]:focus {

        border: 4px solid #1E222E;


    }

    textarea:focus {

        border: 4px solid #1E222E;


    }

    .sub_button {
        background-color: #1E222E;
        border-radius: 10px;
        color: white;
        width: 200px;
        height: 50px;
        font-family: "Montserrat";
        src: url("fonts/montserrat_regular.ttf");
        font-size: larger;


    }
</style>

<form action="/create_article" method="post">
    <label>Введите название статьи </label><br>
    <input type="text" name="title" id="'title" value={{article.title}}><br><br>
    <label>Введите анонс </label><br>
    <textarea name="intro" id="intro " >{{article.intro}}</textarea><br><br>
    <label>Введите основной текст </label><br>
    <textarea  name="text" id="text " >{{article.text}}</textarea><br><br>
    <input class="sub_button" type="submit" value="Изменить">
</form>

{% endblock%}